<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098469953657-296ue5ap8blmkmjhedhcmlm7h84b3egv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098469953657-296ue5ap8blmkmjhedhcmlm7h84b3egv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1098469953657-82sbs76lvgl46cmsdhaam672cbneptcr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8fMVcChGMz9ETEgqeP-a4osnW0GSiLD4</string>
	<key>GCM_SENDER_ID</key>
	<string>1098469953657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.which464.which</string>
	<key>PROJECT_ID</key>
	<string>which-464</string>
	<key>STORAGE_BUCKET</key>
	<string>which-464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098469953657:ios:5e7569601be32366b9c4a8</string>
</dict>
</plist>